*{
    margin: 0;
    padding:0;
}

body{
    background-color:rgb(199, 189, 189);
}

.container{
    width: 970px;
    margin:0 auto;
    background-color: rgb(36,80,118);
}

div.container{
    height:950px;
}

.nav{
    background-color: rgb(70,126,173);
    width:830px;
    height: 50px;
    position: relative;
    left:70px;
    bottom:15px;
    border: 0px solid rgb(70,126,173);
    border-radius: 5px;
    box-shadow: 2px 2px rgb(31,32,32);
}

.nav-links{
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px;
    position: relative;
    top:15px;
    font-family: Arial, Helvetica, sans-serif;
}

.nav a{
    color: white;
    text-decoration: none;
}

.search-bar{
    background-color: rgb(68,68,68);
    border:0px solid rgb(68,68,68);
    border-radius:10px;
    box-shadow: 3px 3px rgb(31,32,32);
    height: 60px;
    display: flex;
    align-items: center;
    width:300px;
}

div.search-bar{
    display: flex;
    justify-content: center;
    position: relative;
    left:640px;
}

input{
    height: 30px;
    border: 2px solid rgb(192,192,192);
}


span.btn{
    position: relative;
    left:5px;
}


span.btn input{
    color: white;
    background-color: rgb(36,80,118);
    width:40px;
    position: relative;
    border-style: outset;
    border-radius: 5px;
    cursor: pointer;
}

span.search input{
    border-style: inset;
}

h6{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    width:100px;
}


.text-size{
    margin-bottom: 20px;
    margin-right:55px;
    position: relative;
    bottom:255px;
}

.text-size a{
    color: rgb(212,178,0);
}

.middle{
    color: black;
    font-weight: 700;
}

ul{
    list-style-type:square;
    color:rgb(240,203,53);
}

.side{
    position: relative;
    display: flex;
    align-items: center;
    left:100px;
    bottom:70px;
}

.side a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px;
    margin-bottom:20px;
    width:200px;
    
}

.side-links{
    justify-content: space-between;
    height: 180px;
}

ul.side-links{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-bottom:70px;
}

.page{
    color:white;
    width:654px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    position: relative;
    left:270px;
    bottom: 340px;
    scale: 0.9;
}

.python-icon{
    display: flex;
    position: relative;
    bottom:175px;
    left:20px;
    width: 100px;
}

img{
    height:100px;
}

.page2{
    justify-content: flex-end;
    position: relative;
    left:450px;
    bottom:330px;
}

div.page2{
    display: flex;
    justify-content: center;
    width: 300px;
}

.middle-page2{
    display:flex;
    flex-direction: column;
    align-items: center;
}


ul.middle-page2{
    justify-content: space-between;
    height: 160px;
    width: 500px;
}

.white-page2{
    color:white;
    font-style: normal;
    font-size: 15px;
}

.page2 li{
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
    font-style: italic;
    font-size: 18px;
}

.page3{
    background-color: white;
    width:970px;
    height: 270px;
    display:flex;
    align-items: center;
    flex-direction: row-reverse;
    position: relative;
    bottom: 280px;
}

.right-page3{
    height:220px;
    width:320px;
    position: relative;
    right: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    bottom:5px;
}

.left-page3{
    position: relative;
    right: 200px;
    height:190px;
    width:310px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    bottom:15px;
}


.list-page span{
    color: rgb(131,177,218);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-page{
    color: black;
    margin-top: 10px;
}

.blue{
    color: rgb(131,177,218);
}

.line1{
    background-color: rgb(115,167,213);
    height:3px;
    width:400px;
    position: relative;
    bottom:10px;
}

.line2{
    background-color: rgb(115,167,213);
    height:3px;
    width:400px;
    position: relative;
    bottom:15px;
}

.bottom{
    position: relative;
    left:430px;
    top:200px;
}

.bottom-page{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:550px;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(113,164,209);
}

h6{
    width: 150px;
    position: relative;
    left:790px;
    top:270px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(113,164,209);
}

.white-text{
    text-align: center;
}